%day {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.Workday {
  @extend %day;
  color: black;
}

.Weekend {
  @extend %day;
  color: dodgerblue;
}

.Placeholder {
  @extend %day;
}