%day {
  display: inline-block;
  width: 25px;
  text-align: center;
  border: 2px solid white;
}

.Workday {
  @extend %day;
  color: black;
}

.Weekend {
  @extend %day;
  color: dodgerblue;
}

.Today {
  border: 2px solid orange;
}

.Placeholder {
  @extend %day;
}