.Year {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: gray;
  text-align: center;

  & h1 {
    margin-left: 1em;
    margin-right: 1em;
    width: 10%;

    &.clickable {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  & h2 {
    font-size: 1em;
    width: 45%;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  @media screen and (max-width: 490px){
    justify-content: center;

    & h1 {
      margin-left: 0.5em;
      margin-right: 0.5em;
      width: auto;
    }

    & h2 {
      width: auto;
    }
  }
}
