.Year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: gray;
  text-align: center;

  & h1 {
    margin-left: 1em;
    margin-right: 1em;
  }

  & h2 {
    font-size: 1em;
  }
}
